/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: 0;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --gpt-gray: #343541;
  --gpt-sidebar: #141414;
  --gpt-lightgray: #40414f;
  --color-text: #181818;
  --color-blue: #0053bf;
  --color-info: #f47d31;
  --bg-card: #070707;
  --bg: #f9f9f9;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  background-color: var(--bg);
  color: var(--color-text);
}

.container {
  max-width: 130rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2%;
}

.button-fill {
  background-color: var(--color-info);
  color: var(--bg);
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.button {
  background-color: transparent;
  color: var(--gpt-sidebar);
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: .1rem solid var(--color-info);
  cursor: pointer;
}

.whats_button {
  background-color: #31d200;
  padding: 2rem;
  color: var(--gpt-sidebar);
  border-radius: 1rem;
  cursor: pointer;
}

.image-next {
  object-fit: contain;
}
